certifi==2020.12.5
chardet==4.0.0
coverage==5.3.1
decorator==4.4.2
deprecation==2.1.0
filetype==1.0.7
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
mutagen==1.45.1
numpy==1.19.4
packaging==20.8
Pillow==8.1.0
proglog==0.1.9
pyDes==2.0.1
pydub==0.24.1
pyparsing==2.4.7
requests==2.25.1
toml==0.10.2
tqdm==4.55.1
urllib3==1.26.2
